.workGrid {
  width: 1500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 16px;
  margin-bottom: 150px;
}
.item {
  padding: 40px;
  background-color: yellow;
}

@keyframes slide-in {
  0% {
    transform: translateY(70px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.isAnimated {
  animation: 500ms slide-in;
  animation-timing-function: ease;
}

@media only screen and (max-width: 1564px) {
  .workGrid {
    width: 100%;
  }
}
